{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
<div class="container">
<h1> Contact Us </h1>
<p> Have some thoughts you'd like to share with us? Use the form below to send us a message. </p>
<div class="row">
<div class="col-md-12">
<form method = "post" >
    {% csrf_token %}
    {{form.as_p}}
    <div class = "form-actions" >
    <button type = "submit" > Send </button>
    </div>
</form>
</div>
</div>
</div>
</main>
{% endblock content %}
