{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

<main>
	<h1>Your 3 card spread</h1>
	<p>Hover your mouse over each card for additional information. </p>
	
	<div class="container-fluid content-row">
	    <div class="row">
	        <div class="col-4">
	            <div class="card h-100">
	                <div class="card-header">
                        Where you stand now: {{ choice1.name }}
                    </div>
	                <p class="card-text">This card represents where you stand NOW. Hover your mouse over the card for more information.</p>
                    <img class="card-img-bottom" src="{% static choice1.img %}" alt="tarot card representing the past">
	                <div class="overlay">
	                    <div class="text">
	                        <h2>Where you stand now:</h2> <h3>{{ choice1.name }}</h3>
	                        {% for fortune in choice1.fortune_telling_evaluated %} {{fortune}}. <br/>{% endfor %}
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="col-4">
	            <div class="card h-100">
	                <div class="card-header">
                            What you aspire to: {{ choice2.name }}
                    </div>
	                <p class="card-text">This card represents what you aspire to. Hover your mouse over the card for more information.</p>
	                <img class="card-img-bottom" src="{% static choice2.img %}" width="200" alt="tarot card representing the present" />
	                <div class="overlay">
	                    <div class="text">
	                        <h2>What you aspire to:</h2> <h3>{{ choice2.name }}</h3>
	                        {% for fortune in choice2.fortune_telling_evaluated %} {{fortune}}. <br/>{% endfor %}
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="col-4">
	            <div class="card h-100">
	                <div class="card-header">
                        How to get there: {{ choice3.name }}
                    </div>
	                <p class="card-text">This card represents how to get there. Hover your mouse over the card for more information.</p>
	                <img class="card-img-bottom" src="{% static choice3.img %}" width="200" alt="tarot card representing the future" />
	                <div class="overlay">
	                    <div class="text">
	                        <h2>How to get there:</h2> <h3>{{ choice3.name }}</h3>
	                        {% for fortune in choice3.fortune_telling_evaluated %} {{fortune}}. <br/>{% endfor %}
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</main>

{% endblock content %}
