/* Info that appears on hover*/
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding:0.5em;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #7A5D92;
  overflow:hidden;
}

.col-4:hover .overlay {
  opacity: 1;
}

.text {  
  color: white;
}
.card-img-bottom {
    max-height: 300px;
    width:auto;
}

.card {
    display:block;
}
