{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="Description" content="WIP Python-Django based site to tell you your fortune.">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
        <title>Fortune Python Django Project</title>
    </head>
    <body>
        <!--Implement responsive bootstrap navbar that collapses to nav burger on smaller screens-->
        <!-- Based on code from https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp tutorials -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler ml-auto" aria-label="toggle navbar" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        {% url 'index' as home_url %}
                        <a class="nav-link {% if request.get_full_path == home_url %}active{% endif %}" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        {% url 'three_card_spread' as current_url%}
                        <a class="nav-link {% if request.get_full_path == current_url %}active{% endif %}" href="{% url 'three_card_spread' %}">Card Reading</a>
                    </li>
                    <li class="nav-item">
                        {% url 'contact' as contact_url%}
                        <a class="nav-link {% if request.get_full_path == contact_url %}active{% endif %}" href="{% url 'contact' %}">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% block content %}{% endblock content %}
        <footer>&nbsp;</footer>
    </body>
</html>
