.jumbotron {
    background: url("globe.webp") no-repeat center center fixed;
    background-size: cover;
}

.landing-section-content {
	background: rgba(0,0,0,0.8);
	color: #ccc;
}

.btn {
    margin:0.5em;
}

