{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'landing_style.css' %}">
<main>
<!--hero image html and css taken and adapted from https://getbootstrap.com/docs/4.0/components/jumbotron/-->
	<div class="jumbotron jumbotron-fluid">
	    <div class="container">
	      <div class="landing-section-content">
	          <h1 class="display-3">Broaden your minds. Look beyond!!</h1>
	          <p class="lead">
	              "Broaden your minds, my dears, and allow your eyes to see past the mundane!"
	              <br>
			    <i>Sybill Trelawney to a Divination class</i>
			    <br>
			    <a href="{% url 'three_card_spread' %}"><button type="button" class="btn btn-primary">Tell me my fortune</button></a>
	          </p>
	      </div>
	    </div>
	</div>
</main>

{% endblock content %}
